---
# Setup apache
- name: Install httpd
  yum:
    name:
      - httpd
      - mod_proxy_html
    state: present

- name: Blank defaults
  copy:
    src: blank.conf
    dest: "/etc/httpd/conf.d/{{ item }}"
  loop:
    - welcome.conf
    - userdir.conf
    - autoindex.conf

- name: Comment out Options Indexes in httpd.conf
  replace:
    path: /etc/httpd/conf/httpd.conf
    regexp: ' Options .*Indexes'
    replace: '# Disabled by Ansible:Options Indexes' # this does not match again
  notify: restart httpd

- name: Copy conf.d static files
  copy:
    src: "{{ role_path }}/files/httpd/conf.d/{{ item }}.conf"
    dest: /etc/httpd/conf.d/{{ item }}.conf
  loop:
    - Z-CSC-traceoff
    - error
    - icons
  notify: restart httpd
  tags:
    - apache_config_update
    - dl_update

- name: configure logrotate for httpd logs
  template:
    src: "logrotate.j2"
    dest: "/etc/logrotate.d/httpd"

- name: Copy conf.d template files
  template:
    src: "{{ item }}.conf.j2"
    dest: /etc/httpd/conf.d/{{ item }}.conf
  loop:
    - backend_proxy
    - download_autoindex
    - remote_user
    - access
  notify: restart httpd
  tags:
    - apache_config_update
    - dl_update

- name: copy favicon
  copy:
    src: favicon.ico
    dest: /var/www/html/favicon.ico
    mode: 0444

- name: Ensure parent directory exists for korp symlink
  ansible.builtin.file:
    path: "/var/www/html/{{ korp_path | dirname }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: korp_path != "korp"

- name: Make korp-shortname symlink for non-standard paths
  ansible.builtin.file:
    src:  "/var/www/html/korp"
    dest: "/var/www/html/{{ korp_path }}"
    owner: root
    group: root
    state: link
  when: korp_path != "korp"
    
- name: http service state
  service:
    name: httpd
    state: started
    enabled: yes
