[Unit]
Description=gunicorn daemon
Requires=korp-backend.socket
After=network.target

[Service]
Type=notify
# .
# the specific user that our service will run as
User=gunicorn
Group=gunicorn
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory={{ korp_backend_home }}
ExecStart={{ korp_backend_home }}/venv/bin/gunicorn --worker-class gevent --timeout 120 --workers 2 --max-requests 500 --limit-request-line 0 {{ 'run:create_app()' if future_build|bool else 'korp:app' }}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target