<table width="50%" cellpadding="0">
<tr>
<td width="40%"><a href="http://www.kielipankki.fi/"><img width="100%" src="/download-style/icons/KIELIPANKKI_logo_RGB_2000dpi.png"/></a></td>
<td width="30%"><a href="http://www.kielipankki.fi/"><img width="60%" src="/download-style/icons/Kielipankki_Porsas_2000px.png"/></a></td>
<td width="30%"><a href="https://www.coretrustseal.org/wp-content/uploads/2018/04/The-Language-Bank-of-Finland.pdf" target="_blank"><img border="0" src="/img/CTS_logo.png" alt="DSAlogo" width="30%" align="right" style="display:block;margin-left:auto;margin-right:auto;" /></a></td>
</tr>
</table>
