
# The following four worktree tasks have been copied from
# kielipankki-korp-frontend-code.yaml and modified to use variable
# korp_frontend_worktrees; they could perhaps be moved to main.yaml
# and used for both types of build if the variable were set
# appropriately also for the Kielipankki build.

- name: Clone frontend config repo
  ansible.builtin.git:
    repo: "{{ korp_frontend_config_repo  }}"
    version: "{{ korp_frontend_config_version }}"
    dest: "{{ korp_frontend_config_home }}"
    umask: "0022"

- name: Remove local changes
  ansible.builtin.shell:
    cmd: "git reset --hard"
    chdir: "{{ korp_frontend_config_home }}"

- name: Make our own local config edits
  ansible.builtin.replace:
    path: "{{ korp_frontend_config_home }}/app/config.yml"
    regexp: "korp_backend_url: .*"
    replace: "korp_backend_url: {{ korp_backend_url }}/"

# Copied from kielipankki-korp-frontend-code.yaml
- name: Skip this if all up to date
  ansible.builtin.set_fact:
    compile_frontend: true
  when: (item.stdout != "Already up to date.") or ( force_compile | default(false))
  loop: "{{ worktree_pull.results }}"
