---
# Setup korp frontend

- name: Add yarn repository
  ansible.builtin.yum_repository:
    name: yarn
    description: Yarn YUM repo
    baseurl: https://dl.yarnpkg.com/rpm/
    gpgcheck: true
    gpgkey: https://dl.yarnpkg.com/rpm/pubkey.gpg

- name: Add nodejs repository (KP variant)
  ansible.builtin.shell:
    cmd: curl -sL https://rpm.nodesource.com/setup_12.x | bash -
    creates: /etc/yum.repos.d/nodesource-el9.repo
  when: not future_build

- name: Add nodejs repository (SB variant)
  ansible.builtin.shell:
    cmd: curl -sL https://rpm.nodesource.com/setup_18.x | bash -
    creates: /etc/yum.repos.d/nodesource-nodejs.repo
  when: future_build

- name: Install basics
  ansible.builtin.dnf:
    name:
      - nodejs
      - yarn
      - git
      - gcc-c++
    state: present

- name: Install yarn
  ansible.builtin.command:
    cmd: npm install yarn

- name: Ensure directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    owner: root
  loop:
    - "{{ korp_git_root }}"
    - "{{ korp_frontend_www_home }}"

- name: Clone frontend
  ansible.builtin.git:
    repo: "{{ korp_frontend_repo  }}"
    version: "{{ korp_frontend_version }}"
    dest: "{{ korp_frontend_home }}"
    force: true
    umask: "0022"
  register: frontend_clone

- name: Set compile_frontend
  # Request recompilation (compile_frontend = true) if an actual change has
  # happened, not if a local change has been overwritten, but nothing else
  # changed.
  ansible.builtin.set_fact:
    compile_frontend: "{{ ( frontend_clone.after != frontend_clone.before ) or ( force_compile | default(false) ) }}"

- name: Set up Kielipankki-korp structure
  when: not future_build
  include_tasks:
    file: kielipankki-korp-frontend-code.yaml

- name: Set up future Korp structure
  when: future_build
  include_tasks:
    file: future-korp-frontend-code.yaml

- name: Install run_config
  ansible.builtin.template:
    src: run_config.json.j2
    dest: "{{ korp_frontend_home }}/run_config.json"
    mode: "0644"

- name: Install dependencies for frontend
  ansible.builtin.command:
    cmd: yarn install
    chdir: "{{ korp_frontend_home }}"
  when: compile_frontend == true

- name: Build frontend
  ansible.builtin.shell:
    cmd: "umask 0022 && yarn build"
    chdir: "{{ korp_frontend_home }}"
  when: compile_frontend == true

- name: Create news directories
  ansible.builtin.file:
    dest: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ korp_frontend_news_home }}/json"
    - "{{ korp_frontend_home }}/dist/news"
  when: not future_build

- name: Compile News
  ansible.builtin.shell:
    cmd: "umask 0022 && ./compile.bash"
    chdir: "{{ korp_frontend_news_home }}"
  when: compile_frontend == true and not future_build

- name: Link news
  file:
    src: "{{ korp_frontend_news_home }}/json"
    dest: "{{ korp_frontend_home }}/dist/news/json"
    state: link
  when: not future_build

- name: Install frontend
  ansible.builtin.shell:
    cmd: rsync -av --delete  "{{ korp_frontend_home }}/dist/" "{{ korp_frontend_www_home }}"
  when: compile_frontend == true

- name: Check for presence of test frontends
  ansible.builtin.shell: find /var/www/test_frontends -maxdepth 1 -type d -not -path /var/www/test_frontends 2>/dev/null || true
  when: compile_frontend == true
  register: test_frontend_directories

- name: Relink possible testing frontends
  ansible.builtin.shell:
    cmd: ln -s "{{ item }}" "{{ korp_frontend_www_home }}"
  loop:
    "{{ test_frontend_directories.stdout_lines }}"
  when: compile_frontend == true

- name: Hardcode korp_download
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  with_items:
    - {src: "{{ korp_static_frontend_cgi_dir }}", dest: "{{ korp_frontend_www_home }}/cgi-bin"}

- name: Create media directory
  file:
    path: "{{ media_dir }}"
    owner: root
    mode: '0733'
    state: directory

- name: Symlink media directory to /var/www/html
  file:
    src: "{{ media_dir }}"
    dest: "/var/www/html/media"
    state: link
