---

- name: Clone plugins repo
  when: future_build
  ansible.builtin.git:
    repo: "{{ korp_backend_plugin_repo }}"
    version: "{{ korp_backend_plugin_version }}"
    dest: "{{ korp_backend_plugin_home }}"
    umask: "0022"

- name: Clone corpus configs repo
  when: future_build
  ansible.builtin.git:
    repo: "{{ korp_backend_corpusconfig_repo }}"
    version: "{{ korp_backend_corpusconfig_version }}"
    dest: "{{ korp_backend_corpusconfig_home }}"
    umask: "0022"

- name: Make new-style instance configuration dir
  when: future_build
  ansible.builtin.file:
    state: directory
    path: "{{ korp_backend_home }}/{{ item }}"
    owner: gunicorn
    group: gunicorn
  loop:
    - instance

- name: Install backend configuration
  when: future_build
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: gunicorn
    group: gunicorn
    mode: "0640"
  loop:
    - src: "future/config.py.j2"
      dest: "{{ korp_backend_home }}/instance/config.py"

- name: Make corpus configuration dirs
  when: future_build
  ansible.builtin.file:
    state: directory
    path: "{{ korp_corpus_config_dir }}/{{ item }}"
    owner: gunicorn
    group: gunicorn
  loop:
    # Corpus configuration root directory
    - ""
    - modes
    - corpora
    - attributes

- name: Install corpus configuration modes and attributes
  when: future_build
  ansible.builtin.copy:
    src: "{{ korp_backend_corpusconfig_home }}/{{ item }}/"
    dest: "{{ korp_corpus_config_dir }}/{{ item }}/"
    remote_src: true
    owner: gunicorn
    group: gunicorn
  loop:
    - modes
    - attributes
