---

- name: Clone plugins repo
  ansible.builtin.git:
    repo: "{{ korp_backend_plugin_repo }}"
    version: "{{ korp_backend_plugin_version }}"
    dest: "{{ korp_backend_plugin_home }}"
    umask: "0022"

- name: Clone corpus configs repo
  ansible.builtin.git:
    repo: "{{ korp_backend_corpusconfig_repo }}"
    version: "{{ korp_backend_corpusconfig_version }}"
    dest: "{{ korp_backend_corpusconfig_home }}"
    umask: "0022"

- name: Make new-style instance configuration dir
  ansible.builtin.file:
    state: directory
    path: "{{ korp_backend_home }}/{{ item }}"
    owner: gunicorn
    group: gunicorn
  loop:
    - instance

- name: Install backend configuration
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: gunicorn
    group: gunicorn
    mode: "0640"
  loop:
    - src: "future/config.py.j2"
      dest: "{{ korp_backend_home }}/instance/config.py"

- name: Make corpus configuration dirs
  ansible.builtin.file:
    state: directory
    path: "{{ korp_corpus_config_dir }}/{{ item }}"
    owner: gunicorn
    group: gunicorn
  loop:
    # Corpus configuration root directory
    - ""
    - modes
    - corpora
    - attributes

- name: Install corpus configuration modes and attributes
  ansible.builtin.copy:
    src: "{{ korp_backend_corpusconfig_home }}/{{ item }}/"
    dest: "{{ korp_corpus_config_dir }}/{{ item }}/"
    remote_src: true
    owner: gunicorn
    group: gunicorn
  loop:
    - modes
    - attributes

- name: Set up mink user
  ansible.builtin.user:
    name: mink
    state: present
    group: mink
    generate_ssh_key: yes # easiest way to make sure .ssh and autorized_keys already exists?
