# This script syncs korp-old-janiemi to korp2.csc.fi
# Assumptions:
# - old korp found at IP 195.148.22.239 contains the master data
# - root's .ssh/authorized_keys file on both servers allows for passwordless login


# mails error message and optionally log file
# $1: Error message
# $2: Path to file
mail_log() {
RECIPIENT=root # Use .forward to forward root's mail if needed.
   if [ -n $2 ]; then # mail the file content
       cat $2 | mail -s "$0 @ `hostname -f`: $1" $RECIPIENT
   else
       echo "(No mail content)"  | mail -s "$0 @ `hostname -f`: $1"  $RECIPIENT
   fi
}


# add up error codes and exit with the sum (hopefully zero)
ERROR_CODE=0
DOW=`date +%a`
LOG_MESSAGE_FILE="/var/log/korp_sync-$DOW.log"

# stderr to stdout:
exec > $LOG_MESSAGE_FILE
exec 2>&1

# Download
rsync -av --delete                      root@195.148.22.239:/var/www/html/download /data2
ERROR_CODE=$(($ERROR_CODE+$?))

# CWB data
rsync -av \
  --exclude korp/cache \
  --exclude corpora/tmp \
  --exclude corpora/vrt \
  --exclude corpora/sql \
  root@195.148.22.239:/mnt/cwbdata /data1
ERROR_CODE=$(($ERROR_CODE+$?))

# Apache config
# sync korp:/etc/httpd/conf.d to korp2:/root/korp_apache_conf_bak
rsync -av --delete                      root@195.148.22.239:/etc/httpd/conf.d/     /root/korp_apache_conf_bak
ERROR_CODE=$(($ERROR_CODE+$?))


# mail error if logfile does not exist
if [ ! -e $LOG_MESSAGE_FILE ]; then
    mail_log "No logfile!" "Something went wrong with syncing korp-old-janiemi to korp2. At least a very short logfile should have been produced."
    exit 1
fi

# exit with zero if no errors, mail log otherwise
if [ $ERROR_CODE -eq 0 ]; then
  exit 0
else
    mail_log "Error. See mail body for details" $LOG_MESSAGE_FILE
    exit 2
fi
