<Location "/">
{% for item in allowed_ips %}
 Require ip {{ item }}
{% endfor %}
</Location>

# RedirectMatch is from mod_alias
# This returns 404 instead of eg. LocationMatch denying access,
# not revealing the presence of these files
RedirectMatch 404 "(\.tmp|~)$"

# Do we need any indices except downloads?
<Directory /var/www/>
        Options -Indexes
</Directory>
<Directory /var/www/html/download>
        Options +Indexes
</Directory>
